{% extends 'layout.twig' %}

{% block body %}
	<section class="article__container bg-green has-bottom">
		<div class="article__bg bg--gradient">
			<div class="bg__object bg--about is-parallax--raw is-useful" data-rellax-speed="-5">
				<img class="bg__img" src="/img/bg--about.jpg" alt="">
			</div>
			<div class="bg__object bg--about-2 is-parallax--raw" data-rellax-speed="-5" data-rellax-percentage="0.9">
				<img class="bg__img" src="/img/bg--about-2.jpg" alt="">
			</div>
		</div>
		<article class="article article--solid is-white" id="about">
			<div class="heading">
				<h1 class="subtitle">{{ intro_section.fields.title }}</h1>
				<h3 class="title">{{ intro_section.fields.description }}</h3>
			</div>
			<div class="content"><p>{% markdown %}{{ intro_section.fields.content }}{% endmarkdown %}</div>
		</article>
		<article class="article__meta" id="leadership">
			<div class="article article--clear is-parallax" data-rellax-speed="-1" data-rellax-percentage="0.5">
				<div class="heading">
					<h2 class="subtitle">{{ bio_section.fields.title }}</h2>
					<h3 class="title">{{ bio_section.fields.description }}</h3>
				</div>
			</div>
			<div class="article bio__container columns is-white">
				{% for bio in bios %}
					<div class="bio column">
						<div class="bio__photo">
							<img src="{{ bio.fields.profilePhoto.fields.file.url }}" alt="Photo of {{ bio.fields.profilePhoto.fields.title }}">
						</div>
						<h2 class="bio__name title">{{ bio.fields.name }}</h2>
						<h3 class="bio__position subtitle">{{ bio.fields.position }}</h3>
						<div class="bio__copy content"><p>{% markdown %}{{ bio.fields.biography }}{% endmarkdown %}</div>
					</div>
				{% endfor %}
			</div>
			<div class="article article--clear has-text-centered article--logo">
				<img class="end_page__logo" src="/img/logo--icon.png" alt="">
			</div>
		</article>
	</section>
{% endblock %}