{% extends 'layout.twig' %}

{% block body %}
	<section class="article__container login">
		<div class="article__bg bg--gradient"></div>
		<div class="article article--solid article--form is-white" id="about">
			<div class="heading">
				<h3 class="title">Log In</h3>
			</div>
			<div class="container">
				<form action="/login" method="post" class="form">
					<br>
					<label class="label" for="username">Username</label>
					<p class="control">
						<input class="input" type="text" id="username" name="username" inputmode="verbatim" required>
					</p>
					<label class="label" for="password">Password</label>
					<p class="control">
						<input class="input" type="password" id="password" name="password" inputmode="verbatim" required>
					</p>
					<br>
					<input class="button is-medium is-orange" type="submit" value="Log In">
				</form>
			</div>
		</div>
	</section>
{% endblock %}