{% extends 'layout.twig' %}

{% block body %}
	<section class="article__container has-bottom contain page--philosophy">
		<div class="article__bg bg--blue bg--gradient_philosophy"></div>
		<div class="article__meta" id="philosophy">
			<div class="article article--clear is-parallax no-pt" data-rellax-speed="-1" data-rellax-percentage="0.5">
				<img class="logo--large" src="/img/logo--icon_large.png">
				<div class="heading">
					<h1 class="subtitle">{{ intro_section.fields.title }}</h1>
					<h2 class="title">{{ intro_section.fields.description }}</h2>
				</div>
			</div>
		</div>
		<div class="article__cage">
			<div class="article__bg bg--gradient_dark_blue"></div>
			<div class="article__bg article__bg--relative">
				<div class="bg__object bg--philosophy is-parallax--raw is-useful" data-rellax-speed="-2" data-rellax-percentage="0.5">
					<img class="bg__img" src="/img/bg--philosophy.jpg">
				</div>
			</div>
			<div class="article article--solid is-white">
				{% for blurb in blurbs %}
					<div class="blurb">
						<div class="blurb__content">
							<h3 class="subtitle">{{ blurb.fields.title }}</h3>
							<div class="content">{% markdown %}{{ blurb.fields.content }}{% endmarkdown %}</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		{#- <div class="article article--clear has-text-centered">
			<p class="footnote is-parallax" 
				data-rellax-speed="-0.5" data-rellax-percentage="0.5">{% markdown %}{{ footnote.content }}{% endmarkdown %}</p>
		</div> -#}
	</section>
{% endblock %}