{% extends 'layout.twig' %}

{% block body %}
	<section class="article__container portfolio__container">
		<div class="article__bg bg--blue_dark">
			<div class="bg__object bg--portfolio is-parallax--raw" data-rellax-speed="-7.5">
				<img class="bg__img" src="/img/bg--portfolio.jpg">
			</div>
			<div class="bg__object bg--gradient_dark"></div>
		</div>
		<article class="article__meta" id="portfolio">
			<div class="article article--clear is-parallax" data-rellax-speed="-1" data-rellax-percentage="0.5">
				<div class="heading">
					<h1 class="subtitle">{{ intro_section.fields.title }}</h1>
					<h3 class="title">{{ intro_section.fields.description }}</h3>
				</div>
			</div>
		</article>
		{% for section in portfolio_sections %}
		<div class="portfolio container">
		{% if section.fields.bg_title %}
			<div class="article__bg article__bg--relative">
				<div class="bg__object bg--{{ section.fields.bg_title }} is-parallax--raw is-useful" data-rellax-speed="-7.5" data-rellax-percentage="0.5">
					<img class="bg__img" src="/img/bg--{{ section.fields.bg_title }}.jpg">
				</div>
			</div>
		{% endif %}
			<div class="portfolio__title article">
				<div class="heading">
					<h2 class="title">{{ section.fields.title }}</h2>
				</div>
			</div>
			{% for item in section.fields.items %}
				<article class="portfolio__item article article--solid is-white">
					<div class="portfolio__photo">
						<img src="{{ item.fields.image.fields.file.url }}" alt="{{ item.fields.image.fields.title }}"
							class="is-parallax" data-rellax-speed="0.5" data-rellax-percentage="0.5">
					</div>
					<div class="portfolio__content">
						<div class="heading">
							<h3 class="title">{{ item.fields.title }}</h3>
							<h4 class="subtitle">{{ item.fields.location }}</h4>
						</div>
						<div class="content">{% markdown %}{{ item.fields.content }}{% endmarkdown %}</div>
					</div>
				</article>
			{% endfor %}
		</div>
		{% endfor %}
	</section>
	<section class="article__container experience__container section is-white">
		<article class="article experience is-white">
			<div class="heading">
				<h2 class="subtitle">{{ experience_section.title }}</h2>
				<h3 class="title">{{ experience_section.description }}</h3>
			</div>
			<dl class="multicolumn">
				{% for item in experience_items %}
					<br>
					<div class="multicolumn__item">
						<dt>{{ item.fields.title }}{% if item.location %} &mdash; {{ item.fields.location }}{% endif %}</dt>
						<dd class="content">{% markdown %}{{ item.fields.description }}{% endmarkdown %}</dd>
					</div>				    
				{% endfor %}
			</dl>
		</article>
	</section>
{% endblock %}