{% extends 'layout.twig' %}

{% block body %}
	<section class="article__container">
		<div class="article__bg bg--gradient"></div>
		<div class="article article--solid article--form is-white" id="about">
			<div class="heading">
				<h3 class="title">Register</h3>
			</div>
			<div class="container">
				<form action="/register" method="post" class="form">
					<br>
					<label class="label" for="username">Username</label>
					<p class="control">
						<input class="input" type="text" id="username" name="username" inputmode="verbatim" required>
					</p>
					<label class="label" for="password">Password</label>
					<p class="control">
						<input class="input" type="password" id="password" name="password" inputmode="verbatim" required>
					</p>
					<label class="label" for="email">Email</label>
					<p class="control">
						<input class="input" type="email" id="email" name="email" placeholder="name@example.com" inputmode="verbatim" required>
					</p>
					<label class="label" for="firstName">Name</label>
					<div class="control is-grouped">
						<p class="control">
							<input class="input" type="text" id="firstName" name="firstName" placeholder="First" inputmode="verbatim" required>
						</p>
						<p class="control">
							<input class="input" type="text" id="lastName" name="lastName" placeholder="Last" inputmode="verbatim" required>
						</p>
					</div>
					<br>
					<input class="button is-medium is-orange" type="submit" value="Submit">
				</form>
			</div>
		</div>
	</section>
{% endblock %}