.article__bg {
	@include abs;
	overflow: hidden;

	@include touch {
		position: static;

		.bg__object:not(.is-useful) {
			position: absolute;
			height: 100%;
		}

		.bg__object.is-useful {
			position: relative;
			height: 220px;
		}
	}

	&--relative {
		top: auto;
		height: 100%;
		overflow: visible;
	}
}

.contain {
	overflow: hidden;
}

.bg__object {
	@include abs;
}

.bg__img {
	width: 100%;
	height: auto;

	@supports (object-fit: cover) {
		@include abs;
		object-fit: cover;
	}
}

.bg--blue_dark {
	background-color: #101f49;
}

.bg {
	&--gradient {
		$color1: desaturate(#008ec3, 10%);
		$color2: desaturate(#71b68e, 10%);

		background: linear-gradient(80deg, $color1 0%, $color2 100%);
	}
	&--gradient_dark {
		$color1: #000;
		// $color1: #040509;
		$color2: rgba(0,0,0,0); //#101f49;

		background: linear-gradient(0deg, $color1 25%, $color2 100%);
	}

	&--gradient_dark_blue {
		$color1: #040404;
		$color2: #050c2b; //#101f49;

		background: linear-gradient(0deg, $color1 0%, $color2 100%);
	}

	&--gradient_philosophy {
		$color1: #008ec3;
		$color2: #42614a;

		background: linear-gradient(80deg, $color1 0%, $color2 100%);
		@include touch {
			position: fixed;
			top: 0;
			height: 100vh;
		}
	}

	&--about,
	&--about-2 {
		overflow: hidden;
		height: 60vw;
		max-height: 720px;
	}

	&--about {
		@include touch {
			top: 0;
			max-height: 300px;
			img { object-fit: cover; }
		}
	}

	&--about-2 {
		top: auto;
		bottom: -30vw;
		max-height: 800px;

		@include break-max(1200px) {
			bottom: 0;
			transform: translate(0,0) !important;
		}


		@supports (object-fit: contain) {
			img {
				position: absolute;
				top: auto;
				bottom: 0;
				height: 200%;
				object-fit: contain;
				object-position: bottom;

			}

		}
		@include touch {
			max-height: 220px;
			img { object-fit: cover; }
		}
	}

	&--portfolio {
		height: 100vw;
	}

	&--philosophy {
		top: 25%;
		max-height: 720px;
	}

	&--restaurants {
		top: -5%;
		left: 50%;
		width: 100vw;
		height: 115%;
		margin-left: -50vw;

		$color1: rgba(#040404, 0);
		$color2: #040404;
		&:after {
			@include pseudo;
			height: 200px;
			z-index: 0;


			background: linear-gradient(0deg, $color1 0%, $color2 100%);
		}
		.bg__img {
			object-position: center 80%;
		}

		@include touch {
			margin-top: -75px;
			margin-bottom: -75px;
			&:after {
				background: linear-gradient(0deg, $color1 15%, $color2 100%);
			}
		// 	position: relative;
		// 	height: 220px;
		}
	}
}

.logo--large {
	display: block;
	margin: -2.5em auto 5em;
	@include touch {
		margin: 3em auto;
		max-width: 150px;
	}
}