//////////////////////////////////////////
// BULMA
// ––––––––––––––––––––––––––––––––––––––
// Feel free to comment and uncomment the
// components at will, just don't reorder
//////////////////////////////////////////

// DEFAULTS/CONFIG

$link: $green;
$link-hover: lighten($green, 5%);
$link-visited: $green;
$link-visited-hover: $green;

$radius: 3px;

$family-sans-serif: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
// $family-sans-serif: $proxima_fb;
// $family-serif: $eames;

$tablet: $mobile + 1;
$desktop: $smallPC;
$widescreen: $mediumPC;

$nav-height: $nav_mobile;


// UTILITIES
// @import "bulma/sass/utilities/_all";

// @import "bulma/sass/utilities/functions.sass";
@import "bulma/sass/utilities/variables.sass";
@import "bulma/sass/utilities/mixins.sass";
@import "bulma/sass/utilities/controls.sass";


// BASE
// @import "bulma/sass/base/_all";

@import "bulma/sass/base/minireset.sass";
@import "bulma/sass/base/generic.sass";
@import "bulma/sass/base/helpers.sass";
@import "helpers"; // Custom .is-* classes


// ELEMENTS
// @import "bulma/sass/elements/_all";

@import "bulma/sass/elements/box.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/form.sass";
@import "bulma/sass/elements/image.sass";
@import "bulma/sass/elements/notification.sass";
@import "bulma/sass/elements/progress.sass";
@import "bulma/sass/elements/table.sass";
@import "bulma/sass/elements/title.sass";

@import "bulma/sass/elements/other.sass";


// COMPONENTS
// @import "bulma/sass/components/_all";

// @import "bulma/sass/components/card.sass";
// @import "bulma/sass/components/highlight.sass";
@import "bulma/sass/components/level.sass";
// @import "bulma/sass/components/media.sass";
// @import "bulma/sass/components/menu.sass";
// @import "bulma/sass/components/message.sass";
@import "bulma/sass/components/modal.sass";
@import "bulma/sass/components/nav.sass";
// @import "bulma/sass/components/pagination.sass";
// @import "bulma/sass/components/panel.sass";
// @import "bulma/sass/components/tabs.sass";


// GRID
// @import "bulma/sass/grid/_all";

@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/grid/tiles.sass";


// LAYOUT
// @import "bulma/sass/layout/_all";

@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";
@import "bulma/sass/layout/footer.sass";