// html, body { font-size: 133px; }
html, body {
	-webkit-text-size-adjust: none;
}

body {
	letter-spacing: 0.075em;
}

.title {
	@include touch {
		font-size: 25px;
	}
}

.heading + .content,
.title + .content {
	margin-top: 3em;
}

.button {
	min-width: 140px;
}

.input,
.textarea,
.button {
	transition:
		color $hoverState,
		border $hoverState,
		box-shadow $hoverState,
		background $hoverState;
}

.hero {
	position: relative;
	overflow: hidden;

	&.is-fullheight {
		min-height: 75vh;
	}

	.container {
		max-width: 720px;
		margin: 0 auto;
	}

	.title {
		@include desktop {
			font-size: $size-1;
		}
	}

	.content {
		line-height: 2em;
	}
	
	&-background {
		@include abs;
		overflow: hidden;

		@supports (object-fit: cover) {

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}
}

.container--slim {
	@include desktop {
		max-width: 1000px;
	}
}

.notification {
	$notifHov: 0.4s;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 220px;
	border-radius: 5px;
	margin-top: -5px;
	font-weight: 400;

	font-size: 18px;
	padding: 15px;

	font-weight: 400;

	transition:
		background $notifHov,
		box-shadow $notifHov,
		transform $notifHov;

	transform: translate();
	box-shadow: 0 4px 15px 0px rgba(0,0,0, 0);

	&:before {
		// @include pseudo;
		background: linear-gradient(50deg, rgba(shade($sky, 50%), 1) 0%, rgba(tint($green, 50%), 0.5) 100%);
		opacity: 0.666;
		transition: opacity $notifHov * 2;
	}

	&:hover,
	&:focus {
		transform: translateY(-5px);
		box-shadow: 0 4px 15px 0px rgba(0,0,0, 0.15);
		&:before {
			opacity: 1;
		}
	}

	> * {
		position: relative;
	}

	a {
		font-size: 0.75em;
		margin: 0 auto;
		color: $black;
		letter-spacing: 0.15em;
		font-weight: 700;
		text-transform: uppercase;
		// text-decoration: underline;
		border-bottom: 1px solid currentColor;

		@include tablet {
			position: absolute;
			bottom: 1.5rem;
			// left: 50%;
			// transform: translateX(-50%);
		}
		&:after {
			content: ' >';
		}
		&:hover,
		&:focus {
			color: $white;
			outline: none;
		}
	}
}

.section {
	padding: 100px 20px;

	@include touch {
		padding: 40px 20px;
	}
}

// Forcibly disable parallax on mobile
@include break-max(960px) {
	.is-parallax,
	.is-parallax--raw {
		transform: translate(0,0) !important;
	}
}