@each $name, $pair in $colors {
	$color: nth($pair, 1);
	$color-invert: nth($pair, 2);


	$buttonBG: $color-invert;
	$buttonColor: $color;
	$selectBG: $color-invert;
	$selectColor: $color;

	@if ($color-invert == white) {
		$color-invert: $white;
	}

	@if ($name == white) or
		($name == light) or
		($name == dark) or
		($name == yellow-light) or
		($name == light) {
		$buttonBG: $primary;
		$buttonColor: $white;
	}

	.bg-#{'' + $name} { background-color: $name; }

	.is-#{'' + $name} {

		&,
		&.section {
			background-color: $color;
			color: $color-invert;
		}

		@include select {
			color: rgba($selectColor, 1);
			background: rgba($selectBG, 1);
			opacity: 1;
		}

		.button {
			color: $buttonColor;
			background: $buttonBG;
			&:hover {
				color: lighten($buttonColor, 5%);
				background: rgba($buttonBG, 0.9);
			}
		}

		@if (colorLuminance($color) < 0.5) or
			($name == cyan) {
			.content,
			.subtitle {
				color: $white;
			}
		}


		&.button {
			background: $color;
			color: $color-invert;

			&:hover {
				background: lighten($color, 5%);
				color: rgba($color-invert, 0.9);
			}
		}

		// img:before,
		// img:after {
		// 	color: $color-invert;
		// 	background-color: $color;
		// }
	}
}

.is-white {
	background-color: $white;
}