.article {
	&__container {
		position: relative;
		padding: 100px 0;
		background-color: $aqua;

		$color1: desaturate(#008ec3, 10%);
		$color2: desaturate(#71b68e, 10%);
		&:not(.is-white) {
			background: linear-gradient(80deg, $color1 0%, $color2 100%);
		}

		overflow: hidden;

		@include touch {
			padding: 0 0;
		}

		@include desktop {
			padding: 200px 0;
		}

		&.has-bottom {
			padding-bottom: 0;
		}
	}
	&__cage {
		position: relative;
		&:last-child {
			padding-bottom: 200px;
		}
		@include touch {
			&:last-child {padding-bottom: 0;}
		}
	}
	
	position: relative;
	padding: 40px 20px;

	@include desktop {
		margin: 0 auto;
		padding: 100px;
		max-width: calc(100% - 100px);
	}
	@include widescreen {
		max-width: 960px;
	}

	.heading {
		text-transform: none;

		.subtitle {
			font-weight: 600;
			font-size: 1rem;
			letter-spacing: 0.15em;
			text-transform: uppercase;

			+ .title {
				margin-top: 1rem;
			}
		}

		.title {
			font-style: italic;
			line-height: 1.25em;

			@include desktop {
				font-size: 2.5rem;
			}
		}
	}

	.content {
		line-height: 1.75em;
		// letter-spacing: 0.1em;
	}

	.subtitle {
		color: $sky;
	}

	&--clear {
		.subtitle,
		.title {
			color: $white;
		}
	}
	&--form {
		max-width: 480px;
		@include desktop {
			padding: 45px;
		}
	}
	&--logo {
		padding: 50px;
	}

	body.portfolio &--clear .subtitle {
		color: $sky;
	}
}

.bio {
	position: relative;
	min-width: 33.33%;

	@include tablet {
		margin-bottom: 12em;
	}

	@include mobile {
		& + & {
			margin-top: 3em;
		}
	}

	// &__container {
	// 	padding-top: 4rem;
	// }
	&__container {
		flex-flow: row wrap;
		max-width: 1030px;

		@include tablet {
			padding: 100px 55px;
			padding-bottom: 0;
		}
	}
	
	&__photo {
		position: relative;
		bottom: 100%;
		width: 130px;
		height: 130px;
		margin: 0 0 2rem;
		// background: $blue;
		background: #47688b;
		overflow: hidden;
		border-radius: 100%;
		overflow: hidden;
	
		@include desktop {
			position: absolute;
			margin-bottom: 2.5rem;
		}

		img {
			max-width: 100%;
			height: auto;
			margin-top: -5%;
		}

		@supports (object-fit: cover) {
			img {
				width: 100%;
				height: 100%;
				margin-top: 0;
				object-fit: cover;
				object-position: 50% 23%;
			}
		}
	}

	p {
		letter-spacing: 0.025em;
	}

	&__name {
		// letter-spacing: 0.05em;
		font-weight: 400;
	}

	&__position {
		font-size: 1em;
		color: currentColor !important;
		font-weight: 600 !important;
		letter-spacing: 0.01em;
		margin-bottom: 2.5em !important;
	}
}


.form {
	.control + .label {
		margin-top: 1em;
	}
}


.blurb {
	& ~ & {
		margin-top: 4em;
	}

	.subtitle {
		font-weight: 500;
		text-transform: uppercase;
	}
}


.portfolio {
	& ~ & {
		padding-top: 40px;
		@include desktop {
			padding-top: 80px;
		}
	}

	&__container {
		// padding-bottom: 0;
	}

	&__title {
		padding: 0.75em 0.25em 2em;

		@include touch {
			padding: 0.5em 1.25em 1em;
		}

		* {
			color: $light_green;
			font-style: normal !important;
		}
	}

	&__item {
		position: relative;
		z-index: 1;
		& + & {
			margin-top: 2em;
			@include desktop {
				margin-top: 40px;
			}
		}
		@include touch {
			margin-bottom: 2em;
		}
	}

	&__photo {
		margin-bottom: 1em;

		@include desktop {
			position: absolute;
			right: 0;
			top: 50%;
			margin-bottom: 0;
			transform: translate(25%, -50%);

			> * {
				overflow: hidden;
				border-radius: 4px;
				height: auto;
				max-width: 300px;
			}
		}
	}

	&__content {
		.heading {
			color: #8a8a8a;

			.title, .subtitle {
				color: inherit;
				font-size: 1.25rem;
				font-style: normal;
				font-weight: 800;
				text-transform: uppercase;
				letter-spacing: 0.15em;
			}
			.title {
				margin-bottom: 10px;
			}
			.subtitle {
				margin-top: 0;
				font-size: 1rem;
				font-weight: 600;
			}
		}
		.content {
			color: #8a8a8a;
			margin-top: 0em;
			padding-top: 0.33em;

			ul {
				margin-top: 1.33em;
				margin-left: 1em;
				line-height: 1.5;
			}
			@include desktop {
				max-width: 80%;
				max-width: calc(100% - 150px);
				letter-spacing: 0.03em;
			}
		}
	}

}


.experience {
	@include desktop {
		max-width: 1080px;
		padding: 0 40px;

		.heading {
			max-width: 720px;
		}
	}

	@include break-min($mediumPC) {
		padding: 0;
	}

	&__container {
		background-color: $white;
	}

	// .content {
		// letter-spacing: 0.05em;
	// }

	// Make content less loosey-goosey (technical term)
	dt, dd {
		letter-spacing: 0.025em;
	}

	dt {
		margin-bottom: 0.333em;
		font-size: 1.1em;
		font-weight: bold;
		// letter-spacing: 0.025em;
		// letter-spacing: 0.025em;
	}
	dd {
		// text-align: justify;
	}

	.multicolumn {
		margin-top: 4em;
		@include break-max($mobile) {
			margin-top: 0;
		}
	}
}


.multicolumn {
	position: relative;
	padding-top: 1.5em;
	// padding-bottom: 0.5em;

	@include tablet {
		column-count: 2;
		column-gap: 2.5em;
	}
	@include desktop {
		column-count: 3;
		column-gap: 4em;

		// Hacky background for the middle column
		&:before {
			@include pseudo;
			left: 33.333%;
			width: 33.333%;
			transform: translate3d(0,0,0);
			background: shade($white, 3%);
		}
	}
	@include break-min($netbook) {
		// This just forces a re-render;
		&:before { display: inline-block; }
		column-gap: 8em;
	}

	&__item {
		position: relative;
		display: inline-block;
		&:not(:last-child) {
			margin-bottom: 1em;
			@include touch {
				margin-bottom: 2em;
			}
		}
	}
}

.footnote {
	margin: 3em auto 3em;
	line-height: 2;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	font-weight: 600;
	color: $sky;
	max-width: 700px;
}

.no-pt {
	padding-top: 0;
}

.page--philosophy {
	&.article__container {
		@include break-min(960px) {
			padding-top: 9em;
		}
	}
	.subtitle {
		font-weight: 600;
	}
}

.login {
	.article--form {
		background: #0c1940;
		color: $white;
		.title,
		.label {
			color: $white;
		}
	}
}

.hero .title {
	line-height: 1.15;
}

.hero .container {
	max-width: 760px;
}

#leadership .article--clear:first-child {
	@include break-min(1200px) {
		padding: 200px 100px;
	}
}