/////////////////////
// TOOLS
/////////////////////

@mixin full {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin fix {
    position: fixed;
    @include full;
}
@mixin abs {
    position: absolute;
    @include full;
}

@mixin pseudo {
    content: '';
    display: block;
    @include abs;
}

@mixin hideText {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

@mixin posAbs {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin imgCover($bleed: 100%) {
    position:absolute;
    left: 50%;
    top: 50%;
    width: auto;
    height: auto;
    min-width: $bleed;
    min-height: $bleed;
    transform: translateX(-50%) translateY(-50%);
    -webkit-backface-visibility: hidden;
}

@mixin clear {
    *zoom: 1;
    &:before, &:after { content: " "; display: table; }
    &:after { clear: both; }
}

@mixin roundPixels {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;          /* Firefox       */
    image-rendering: -o-crisp-edges;            /* Opera         */
    image-rendering: -webkit-optimize-contrast; /* Chrome/Safari */
    image-rendering: -webkit-crisp-edges;       /* Chrome/Safari */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+          */

    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    image-rendering: crisp-edges;
}

@mixin valign($child) {
    display: table; //fallback
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    @include compat-ie-9 {
        & > #{$child} {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

@mixin equi-dist($child) {
    text-align: justify;
    &:after{
        content: '';
        display: inline-block;
        width: 100%;
    }
    & > #{$child} {
        display: inline-block;
    }
}

@mixin svg-bg($name1, $name2) {
    background-image: url('../images/#{$name1}.png'); // IE8 & below
    background-image: none, url('../images/#{$name2}.svg');
}

$libraryPath: '../img/';

@mixin imageBG($name, $position: null, $size: auto, $repeat: null) {
    background-image: url(#{$libraryPath}#{$name});

    @if $position != null {
        background-position: $position;
    }
    @if $size != auto {
        background-size: $size;
    }
    @if $repeat != null {
        background-repeat: $repeat;
    }
}

@mixin image2x($name, $extension: 'png', $size: auto, $repeat: null) {
    background-image: url('../img/#{$name}.#{$extension}');

    @media only screen and (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
        background-image: url('../img/#{$name}@2x.#{$extension}');
    }
    @if $size != auto {
        background-size: $size;
    }
    @if $repeat != null {
        background-repeat: $repeat;
    }
}

@mixin select {
    ::selection {@content;}
    ::-moz-select {@content;}
}

//$bfs: $fontBase;
@mixin break-max($size) {
    @media only screen and (max-width: $size - 1) { @content; }
}

@mixin break-min($size) {
    @media only screen and (min-width: $size) { @content; }
}

@mixin compat-safari {
    _::-webkit-full-page-media, _:future, :root & {
        @content;
    }
}

//Internet Explorer 9, 10, 11
@mixin compat-ie-9-11 {
    @media screen and (min-width:0\0) and (min-resolution:+72dpi) {
        @content;
    }
}