.nav {
	@include desktop {
		// max-width: 1600px;
		max-width: 1170px;
		padding: 0 20px;
		// min-height: 0px;
	}

	@include tablet {
		transition: height 0.5s $swift;
		height: 100px;
		&--shrink {
			.container {
				height: 80px;
			}

			body.index .nav_wrapper,
			.nav_wrapper:before {
				box-shadow: 0 2px 3px 1px rgba(#000, 0.15);
			}
		}
	}

	&_parent {
		height: 60px;
		@include tablet {
			height: 100px;
		}
	}

	&_wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		// height: inherit;
		z-index: 100;
		background: $white;

		&:before {
			@include pseudo;
			height: 7px;
			background: $blue;
			top: 100%;
			box-shadow: 0 2px 3px 1px rgba(#000, 0);
			z-index: 10;

			body.index & { display: none; }

			body.about & { background: #0087bc; }
			body.portfolio & { background: #13a89e; }//$cyan; }
			body.philosophy & { background: $green; }
		}

		box-shadow: 0 2px 3px 1px rgba(#000, 0);
	}


	&-item {
		padding: 10px;
		text-transform: uppercase;
		letter-spacing: 0.075em;
		font-weight: 700;

		@include desktop {
			padding: 20px;
		}

		transition:
			color $hoverState,
			background $hoverState;

		background: transparent;
		
		&:focus {
			outline: none;
			background: rgba(0,0,0, 0.025);
		}

		&:focus ,
		&.is-active:link {
			color: $green;
		}

		&:hover,
		&.is-active:hover {
			color: #96cb6e//shade($green, 25%);
		}

		&.button {
			min-width: 130px;
			padding-top: 17px;
			padding-bottom: 17px;
		}
	}

	&-item img {
		max-height: 50px;
		@include desktop {
			max-height: 75px;
		}
	}

	&-toggle {
		width: 70px;
		height: 70px;
		transition: background $hoverState;
	}

	@include mobile {
		&:not(.footer_content):before {
			@include pseudo;
			background: $white;
			z-index: 110;

		}
		&-left,
		&-toggle {
			position: relative;
			z-index: 120;
		}

		&-menu {
			display: block;
			top: auto;
			bottom: 0;
			z-index: 100;

			transition:
				transform 0.4s $swift;

			transform: translate(0, 0);

			&.is-active {
				transform: translate(0, 100%);
			}
		}
	}
}


.footer {
	position: relative;
	padding: 80px 20px;
	background: tint($blue_dark, 5%);
	background: linear-gradient(
		60deg,
		#040b2a 0%,
		#0c1940 50%,
		#13365f 100%
	);
	overflow: hidden;

	@include touch {
		.nav-left {
			display: none;
		}
	}

	&_content {
		position: static;
		max-width: 1170px;
	}

	.title {
		display: block;
		// margin: 0;f
		font-size: 22px;
		color: #96cb6e;//$green;
		font-weight: 400;
		text-transform: none;
	}

	a.is-brand {
		border-bottom: none;

		&:before {
			@include pseudo;
			left: auto;
			background: no-repeat url('/img/bg--mandala.png') left bottom / auto;
			pointer-events: none;

			transition:
				opacity 1.5s $swift,
				transform 1.75s $swift;

			opacity: 0.1;
			transform: translate(30px, -5%);
		}

		&:hover:before,
		&:focus:before {
			opacity: 0.2;
			transform: translate(30px, -10%);
		}
	}

	.nav {
		padding-top: 0;
		padding-bottom: 0;
		background: transparent;

		@include mobile {
			flex-direction: column;
		}

		a {
			color: $white;
		}

		&-item {
			flex-direction: column;
			align-items: flex-start;
			text-align: left;
		}
	}
	.level {
		align-items: flex-start;

		@include break-max($mediumPC) {
			flex-direction: column;
		}
	}
	.level-item a {
		text-transform: none;
		text-decoration: none;
		border: none;

		&:hover {
			color: $green;
		}
	}
	.level-item + .level-item {
		padding-left: 20px;

		@include break-max($mediumPC) {
			padding-top: 20px;
			padding-left: 0;
		}
	}

	.icon {
		font-size: 20px;
	}

	.text {
		font-weight: 400;
		display: inline-block;
		font-size: 14px;
		letter-spacing: 0.01em;
	}

}

a.nav-item {
	color: #6d6e71;//#888;
}

a:link {
	transition:
		color $hoverState,
		border $hoverState,
		background $hoverState;
}