@import  "bulma/sass/utilities/functions.sass";

/////////////////////
// Functions
/////////////////////

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

/////////////////////
// MEDIA QUERIES
/////////////////////

$phone:       480px;
$mobile:      768px;
$largeMobile: 600px;
$tablet:      768px;
$smallPC:     960px;
$netbook:     1080px;
$mediumPC:    1200px;
$desktopHD:   1280px;
$largePC:     1440px;

$nav_break: $smallPC;

/////////////////////
// COLORS
/////////////////////

// Basic Colors

$white:         #fafafa;
$black:         #111;
$tan:           #e0dccb;
$gray:          #999A9C;
$gray_light:    #BABABC;
$gray_dark:     #55565A;

$green:         #59c17b;

// Brand Colors

$brown:         #4e3534;
$brown_light:   #684747;
$brown_dark:    #332222;

$blue:          #393a6e;
$blue_light:    #4d4f91;
// $blue_dark:     #26284b;

$yellow:        #f7eeb2;
$yellow_light:  #f7f0cf;
$yellow_dark:   #d7cb87;

$orange:        #ff6d6d;
$orange_light:  #e38068;
$orange_dark:   #b55749;

$sand:          #e9e7da;
$sand_light:    #fffdf6;
$sand_dark:     #e0dccb;

$cyan:          #55a09d;
$cyan_light:    #67bcb7;
$cyan_dark:     #4a8784;

$brand_1:   $brown;
$brand_2:   $cyan;
$brand_3:   $orange;
$brand_4:   $sand;

$facebook: #3b5998;
$twitter: #00aced;

$brown-invert: findColorInvert($brown);
$blue-invert: findColorInvert($blue);
$yellow-invert: findColorInvert($yellow);
$orange-invert: findColorInvert($orange_light);
$sand-invert: findColorInvert($sand);
$cyan-invert: findColorInvert($cyan);


// $primary: $brown;
$primary: $cyan;
$primary-invert: $brown-invert;

$light: $gray_light;
$dark: $gray_dark;

$text: $gray_dark;

$light-invert: $dark;
$dark-invert: $light;

$red: #ed1c24;
$red_dark: shade($red, 10%);
$blue: #1b2550;
$blue_alt: #19234e;
$cyan: #3bb9a7;
$black_light: #393939;
$black_mid: #2a2a2a;

$orange:        #ff6d6d;


// MANDALA COLORS
$blue_dark:     #040b2a;
$sky:           #0087bc;
$aqua:          #13a89e;
$olive:         #7fc686;
$light_green:   #96cb6e;

$colors: (
    // Essentials
    white: ($white, $black), 
    black: ($black, $white),
    dk_gray: (#444, $white),
    light: ($light, $brown_dark), 
    dark: ($dark, $sand_light), 
    primary: ($primary, $primary-invert),
    // secondary: ($secondary, $secondary-invert),

    brand: ($white, $blue), 

    // Colors!
    red: ($red, $white),
    red_dark: ($red_dark, $white),
    blue: ($blue, $white),

    // Other
    footer: ($black_mid, $black_light),
    facebook: ($facebook, $white),
    twitter: ($twitter, $white),




    blue_dark: ($blue_dark, $white),
    sky: ($sky, $white),
    cyan: ($cyan, $white),
    aquaa: ($aqua, $white),
    olive: ($olive, $white),
    green: ($green, $white),
    orange: ($orange, $white),
);

$zebraStripes: (
    odd: #f3f3f3,
    even: #ffffff
);


/////////////////////
// METRICS
/////////////////////

$fontBase:  14px;
$footBase:  10px;
$navIndex:  10;
$formXSpacing: 2em;
$formYSpacing: 3em;

$nav_mobile: 60px;
$nav_desktop: calc(35px + 6.75vw);
$nav_fallback: 140px;
$nav_stuck_top: calc(-7px - 1.35vw);


/////////////////////
// TRANSITIONS
/////////////////////

$transitionBounce:  .45s cubic-bezier(.15, .8, .3, 1.4);
$smBounce:          cubic-bezier(.15, .8, .3, 1.2);
$bounce:            cubic-bezier(.15, .8, .3, 1.4);
$lgBounce:          cubic-bezier(.15, .8, .3, 1.9);
$swiftOut:          .3s cubic-bezier(.55,0,.1,1);
$swift:             cubic-bezier(.55,0,.1,1);
$hoverState:        .2s;

$sharp:             cubic-bezier(0.4, 0.0, 0.6, 1);
$flyIn:             cubic-bezier(0.0, 0.0, 0.2, 1);
$flyOut:            cubic-bezier(0.8, 0.0, 1, 1);


/////////////////////
// SPACING
/////////////////////

$spacingDesktop:  60px;
$spacingTablet:   45px;
$spacingMobile:   30px;


/////////////////////
// BUTTONS
/////////////////////

$btnPadding: 2em;


/////////////////////
// BULMA DEFAULTS
/////////////////////


$size-1: 60px;
$size-2: 48px;
$size-3: 32px;
$size-4: 24px;
$size-5: 18px;
$size-6: 14px;
$size-normal: 16px;

$size-7: 11px;

$speed: $hoverState;

$radius: 10px;
$radius-large: 10px;