{% extends 'layout.twig' %}

{% block body %}
<section class="hero is-blue is-fullheight">
	<div class="hero-body">
		<div class="hero-background is-parallax--raw" data-rellax-speed="-2">
			<img src="/img/bg__hero--home.jpg" alt="">
		</div>
		<div class="container has-text-centered">
			<h1 class="title">{{ hero_title[0] }}<br>{{ hero_title[1] }}</h1>
			<div class="content">{% markdown %}{{ hero_content }}{% endmarkdown %}</div>
		</div>
	</div>
</section>
<section class="section is-blue_dark">
	<div class="container container--slim">
		<div class="columns level is-parallax" data-rellax-speed="-0.2">
			<div class="column level-item has-text-centered">
				<div class="notification is-sky">
					<div class="content">
						<p>{{ ctas[0].fields.text }}</p>
					</div>
					<a href="{{ ctas[0].fields.url }}">{{ ctas[0].fields.link }}</a>
				</div>
			</div>
			<div class="column level-item has-text-centered">
				<div class="notification is-aquaa">
					<div class="content">
						<p>{{ ctas[1].fields.text }}</p>
					</div>
					<a href="{{ ctas[1].fields.url }}">{{ ctas[1].fields.link }}</a>
				</div>
			</div>
			<div class="column level-item has-text-centered">
				<div class="notification is-olive">
					
					<div class="content">
						<p>{{ ctas[2].fields.text }}</p>
					</div>
					<a href="{{ ctas[2].fields.url }}">{{ ctas[2].fields.link }}</a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}