<!doctype html>

<!--[if lt IE 7]><html lang='en' class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html lang='en' class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html lang='en' class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html lang='en' class="no-js"><!--<![endif]-->

<head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="content-language" content="en_US">
    <meta name="theme-color" content="#15a89e">

    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" integrity="sha256-AIodEDkC8V/bHBkfyxzolUMw57jeQ9CauwhVW6YJ9CA=" crossorigin="anonymous" />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="icon" type="image/png" href="favicon.png">
  </head>
  <body class="{{ page | default('') }}">
    <div class="nav_parent is-white" id="nav">
        <div class="nav_wrapper">
            <nav class="nav container">
                <div class="nav-left">
                    <a href="/" class="nav-item is-brand">
                        <img src="/img/mandala__logo.png" srcset="/img/mandala__logo.svg 1x" alt="Mandala Holdings">
                    </a>
                </div>

                <span class="nav-toggle">
                    <span></span> <span></span> <span></span>
                </span>

                <div class="nav-right nav-menu">
                    {% for item in nav.main %}
                        <a class="nav-item{% if page == item.slug %} is-active{% endif %}" href="/{{ item.slug }}">{{ item.title }}</a>
                    {% endfor %}
                    <div class="nav-item">
                        {% if sesh %}
                            {% for item in nav.admin %}
                                <a class="nav-item nav-{{ item.slug }} button is-green" href="/{{ item.slug }}">{{ item.title }}</a>
                            {% endfor %}
                        {% else %}
                            {% for item in nav.login %}
                                <a class="nav-item nav-{{ item.slug }} button is-green" href="/{{ item.slug }}">{{ item.title }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
    </div>

    {% if debug %}
        <pre> {{ debug }} </pre>
    {% endif %}

    {% block body %}{% endblock %}

    <footer class="footer">
        <div class="footer_content nav container">
            <div class="nav-left">
                <a href="/" class="nav-item is-brand">
                    <img src="/img/mandala__logo--type.png" srcset="/img/mandala__logo--type.png 1x, /img/mandala__logo--type@2x.png 2x" alt="Mandala Holdings">
                </a>
            </div>
            <div class="nav-center">
                <div class="nav-item">
                    <h4 class="title is-4">Contact</h4>
                    <div class="level">
                        <div class="level-item">
                            <a href="https://www.google.com/maps/place/6365+Collins+Ave+%233908,+Miami+Beach,+FL+33141/" target="_blank">
                                <span class="icon">
                                    <i class="fa fa-home"></i>
                                </span>
                                <span class="text">
                                    <p>6365 Collins Avenue, Suite 3908
                                    <br>Miami Beach, FL 33141</p>
                                </span>
                            </a>
                        </div>
                        <div class="level-item">
                            <a href="tel:3059478844">
                                <span class="icon">
                                    <i class="fa fa-tablet"></i>
                                </span>
                                <span class="text">
                                    <p>305-947-8844</p>
                                </span>
                            </a>
                        </div>
                        <div class="level-item">
                            <a href="mailto:info@mandalaholdings.com">
                                <span class="icon">
                                    <i class="fa fa-envelope-o"></i>
                                </span>
                                <span class="text">
                                    <p>info@mandalaholdings.com</p>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    {% block javascripts %}
      {% include 'scripts.twig' %}
    {% endblock %}
  </body>
</html>
